.project {
    display: grid;
    grid-template-columns: 540px 1fr 1fr 3fr;
    grid-template-rows: 1fr 2fr auto;
}

.name {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 50px 0;
}

.number {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 50px 0;
}

.headline {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.31em;
}

.links {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.link {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    width: min-content  ;
}

.description {
    line-height: 111%;
    max-width: 610px;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.photos {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
   